.myform {
  background-color: var(--black);
  color: var(--light);
}
/* "FIELDSETTET" ER "FLEXCONTAINEREN I DETTE TILFÆLDE" */
.myform fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.myform legend {
  font-size: 1.2rem;
}
.myform label {
  font-size: 0.8rem;
}
.myform input {
  padding: 0.3rem;
}
.myform input::placeholder {
  color: var(--medium);
}
/* BUTTON STYLING */
.myform input[type="submit"] {
  margin-top: 0.5rem;
  padding: 0.6rem;
  background-color: var(--active);
  color: var(--static);
  border: none;
  cursor: pointer;
  filter: saturate(0.6);
  transition: 400ms;
}
.myform input[type="submit"]:hover {
  filter: saturate(1.5);
  color: #fff;
}
