/* IMPORTS A "GOOGLE FONT" */
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Creepster&display=swap");
@import url(modal.css);
@import url(cookie.css);
@import url(form.css);
@import url(nav.css);
@import url(gallery.css);
html {
  scroll-behavior: smooth;
}
/* VARIABLES IN HTML: */
:root {
  --light: #ddd;
  --medium: #999;
  --dark: #333;
  --black: #212121;
  --primary: #4ae;
  --secondary: #ddd;
  --danger: #bb1818;
  --warning: #ef5400;
  --success: #3b833b;
  /* BUTTONS */
  --static: #aaaaaa;
  --active: #357baa;
}
body {
  font-family: "Smooch Sans", sans-serif; /*"SMOOCH SANS" IS A GOOGLE FONT*/
  font-weight: 400;
  background-color: var(--black);
  color: var(--light);
}

/* TEXT FORMATTING */
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}

.noScroll {
  overflow: hidden;
}

/* GLOBAL BLOCKS */
.container-main {
  max-width: 1300px;
  margin: auto;
  border: 1px solid var(--medium);
}
/*#region GLOBAL HEADER */
.header-main img {
  display: block;
  width: 100%;
}
.header-main {
  position: relative;
}
.header-main hgroup {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  padding: 0.5rem 1rem;
  background: var(--light);
  box-sizing: border-box;
  border: 1vw solid #000;
}
.header-main hgroup h1 {
  font-size: 22vw;
  line-height: 80%;
  margin-top: 0.7rem;
  color: var(--danger);
  font-family: "bebas neue", sans-serif;
}
/* #endregion */

/*#region ALL SECTIONS */
section > header:first-of-type h2 {
  font-size: 12vw;
  color: var(--warning);
  margin: 0 1rem;
}
section figure article h3 {
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--primary);
}
section figure article {
  padding: 1rem;
}
section article a {
  font-size: 1.3rem;
  color: var(--static);
  transition: 400ms;
}
section article a:hover {
  color: var(--active);
}

section article footer {
  text-align: right;
}
section article p {
  font-size: 1.25rem;
}
.section-staff figure,
.section-about figure,
.section-delivery figure,
.section-gallery figure {
  display: grid;
  margin: 0;
}
.section-staff figure img,
.section-about figure img,
.section-delivery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* #endregion */

/*#region GLOBAL FOOTER */
.footer-main {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  color: var(--primary);
}
.footer-main iframe {
  width: 100%;
}
.footer-main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-main h4 {
  font-size: 2rem;
  color: var(--warning);
  font-weight: 400;
}
.footer-main h5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  color: var(--warning);
}
.footer-main a {
  color: var(--primary);
}
/* #endregion */
/* MEDIA QUERIES: ONE "OVER" ("min-width"), and ONE "UNDER" ("max-width")! ;0) */

/* OVER 800px */
@media (min-width: 800px) {
  .header-main hgroup h1 {
    font-size: 11rem;
  }
  section > header:first-of-type h2 {
    font-size: 6rem;
  }
  /* SECTION STAFF */
  .section-staff div figure {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .section-staff figure article h3 {
    margin: 0;
    vertical-align: top;
  }
  /* SECTION DELIVERY */
  .section-delivery figure {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .section-delivery figure article h3 {
    margin: 0;
    vertical-align: top;
  }
  .footer-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* OVER 1300px */
@media (min-width: 1300px) {
  .section-staff div figure {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-staff div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
